In [1]:
2+2

4

In [2]:
2+2
3*5
x=4
2*x

8

## Test

In [3]:
2+2

4

In [8]:
2+2+5

9

In [9]:
2*3

6

In [5]:
import numpy as np

In [6]:
import pandas as pd

In [12]:
## type exit or ctrl-D

In [13]:
print('hello world')

hello world

In [15]:
a_3 = 1

In [16]:
a_2 = 3

In [17]:
a_3

1

In [18]:
a = [1,2,3]

In [19]:
a

[1, 2, 3]

In [20]:
a*2

[1, 2, 3, 1, 2, 3]

In [21]:
a + 2

TypeError: can only concatenate list (not "int") to list

In [22]:
a.append

In [23]:
a?

In [24]:
print?

In [ ]:
# this is an example of a user function

In [39]:
def foo(x,y,z):
    return(x+y)/z

In [26]:
foo(1,2,3)

1.0

In [27]:
foo(2,4,3)

2.0

In [28]:
## you can run the contents of a script by typing in %run script_name

In [29]:
# you can copy the contents of a script by typing @load script_name

In [30]:
# you can stop the execution of code by pressing control + C

In [31]:
# you can execute pasted code by pressing %paste

In [32]:
# you can use %cpaste a more flexible version of it that allows you to choose what you want

In [33]:
# you can break the cpaste prompt with Ctrl-C

In [34]:
# see list of shortcuts in chapter 2

In [1]:
2+2

4

In [2]:
# magic commands

In [3]:
# any command prefixed by % sign. They are command line programs

In [7]:
a = np.random.randn(100,100)

In [8]:
a

array([[ 3.23871970e-01,  9.42496667e-01, -2.11273628e+00, ...,
        -1.33217979e+00, -1.38091559e+00,  9.73399347e-02],
       [ 4.13540453e-01, -2.97264513e-01, -1.39821914e+00, ...,
         7.04007259e-01,  1.07278945e+00,  6.22785146e-01],
       [ 2.93463166e-01,  1.47250265e+00, -1.60180846e-02, ...,
         1.12893400e+00, -8.54067240e-01, -6.17621505e-01],
       ...,
       [-3.65219539e-01,  1.05178167e+00,  1.01527504e+00, ...,
        -9.00778055e-01, -9.34573447e-01,  2.08859071e-01],
       [-1.15240665e+00, -1.68093235e+00,  1.40085468e-03, ...,
        -7.86277161e-01, -1.02429740e+00, -8.72984091e-01],
       [-1.25201886e+00,  3.12611703e-01, -1.24379778e-01, ...,
         1.51185876e-01, -2.58588938e-01,  2.60460892e-01]])

In [9]:
# %timeit allows one to time a command

In [10]:
%timeit np.dot(a,a)

144 µs ± 37.7 µs per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [11]:
# not sure what us means

In [12]:
# don't need the % sign

In [13]:
timeit np.dot(a,a)

27.1 µs ± 1.54 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [14]:
# some magic commands can be assigned as new variables

In [16]:
b = %pwd

In [17]:
b

'/Users/dblickstein'

In [18]:
# their is a list of magic commands in chapter 2 
# some ones to note include
# %reset - delete variables
# %time report execution time of a songle statement
# timeit get a distribution of time
# %who, %who_ls, %whos, functions to display variables
# xdel variable - delete a variable

In [19]:
# %matplotlib integrates the plotting library with ipython and jupiter notebooks

In [20]:
# PYTHON LANGUAGE BASICS

In [22]:
# uses whitespace instead of brackets. It is a significant part of the readibility of python code

In [23]:
for x in array:
    if x < pivot:
        less.append(x)
        else:
            greater.append(x)

SyntaxError: invalid syntax (<ipython-input-23-2f7e40652f39>, line 4)

In [24]:
# seim colons can be used to put multiple statements on one line but it makes it less readable

In [27]:
a = 1; b = 2; c = 3;

In [34]:
print(a);print(b)

1
2

In [35]:
# you can print objects with print function. It can take things like R's ...

In [36]:
print(a,b)

1 2

In [38]:
x = 1; y = 2; z = 3;

In [40]:
result = foo(x,y,z)

In [41]:
result

1.0

In [43]:
#

In [44]:
# you can access elements of an object with obj.some_method(x,y,z)

In [45]:
# need to go over how to use this. There aren't good examples yet in the book

In [46]:
# functions can take both positional and key word arguments. More on this later

In [47]:
# [] is a list

In [48]:
a = [1,2,3]

In [49]:
b = a

In [50]:
a.append(4)

In [51]:
a

[1, 2, 3, 4]

In [52]:
b

[1, 2, 3, 4]

In [53]:
# this is something that will take getting used to because you might want to alter 
# different versions seperately

In [54]:
# when an argument is inputed into a function it is not copied

In [55]:
def append_element(list,element):
    list.append(element)

In [56]:
data = [1,2,3]

In [57]:
append_element(data,4)

In [58]:
data

[1, 2, 3, 4]

In [67]:
a = 5

In [61]:
# you can find the class of an object with type

In [62]:
type(5)

int

In [63]:
# implicit conversion only occurs in specific instances

In [65]:
# you can check the type of an object using isinstance

In [68]:
isinstance(a,int)

True

In [69]:
# you check if it is either of specific types

In [70]:
isinstance(a,(int,float))

True

In [71]:
# objects have attributes which are other objects and methods which are functions associated with an object

In [72]:
# inlike R which uses brackets, python uses .

In [73]:
a = 'foo'

In [74]:
a.capitalize

In [75]:
# or use getattr(obj, 'attribute')

In [76]:
# the author of the book uses his own custom function for checking object classes

In [77]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

In [82]:
isiterable('A')

True

In [83]:
isiterable(2)

False

In [84]:
isiterable([1,2])

True

In [85]:
# IMPORTS

In [86]:
# you can access stuff from other python scripts

In [88]:
# suppose you had some python script as such
#module
PI = 3.14
def f(x):
    return x + 2;
def g(a,b):
    return a + b

In [90]:
# import module as mod
# mod.f(5)
# mod.g(2,3)

In [91]:
# or import specific objects
# from module import f, g, PI
# f(5)

In [92]:
# or change th names
# from module import f as foo, g , PI as pi

In [93]:
# BASIC LOGIC OPERATIONS

In [94]:
a = [1,2,3]

In [95]:
a = b

In [96]:
a is b

True

In [97]:
c = 'A'

In [98]:
a is not c

True

In [99]:
# can also use ==

In [100]:
a == b

True

In [101]:
a != c

True

In [ ]:
# for and use & for or use |
# a ^ b only one true but not both

In [102]:
# some basic operations
# ** raise to the power
# // floor divide

0

In [103]:
a**b

4

In [104]:
# mutibility- means objects can be modified

In [105]:
L = ['foo', 2, [4,5]]

In [106]:
L[2]

[4, 5]

In [107]:
L[2] = (3,4)

In [108]:
L

['foo', 2, (3, 4)]

In [109]:
x = (3,5,(4,5))

In [110]:
x[1]

5

In [111]:
x[0]

3

In [112]:
# note that the first element seems to start on 0

In [113]:
x[1] = 'A'

TypeError: 'tuple' object does not support item assignment

In [114]:
x[1] = 7

TypeError: 'tuple' object does not support item assignment

In [115]:
# notice how it can't be changed

In [116]:
type(x)

tuple

In [117]:
# OBJECT CLASSES

In [118]:
# str, bytes, float, int, bool
# for numbers their is float and int

In [119]:
a = 122324324

In [121]:
# for strings you can use """ to span multuple lines

In [124]:
# python strings are immutible

In [125]:
# replacing strings

In [126]:
a = 'this is a string'

In [127]:
b = a.replace('string','longer string')

In [128]:
b

'this is a longer string'

In [130]:
# objects can be converted to a string using str

a = 8.5

s = str(a)

In [134]:
# not working you might need to ask about this

In [135]:
# strings can be seperated into its individual characters

In [136]:
s = 'ABCD'

In [138]:
list(s)

['A', 'B', 'C', 'D']

In [139]:
# you can access specific elements of the string

In [140]:
s[:3]

'ABC'

In [141]:
s[2:]

'CD'

In [143]:
# for literal divide

In [144]:
s = '12\\34'

In [148]:
print(s)

12\34

In [149]:
# r stands for raw

In [153]:
s = r'this\has\no\special\characters'

In [154]:
print(s)

this\has\no\special\characters

In [ ]:
# normally \ mcould mean something specfic.

In [156]:
# adding strings combines them

In [157]:
a = 'This is first string'

In [158]:
b = ' and this is the second'

In [159]:
a + b

'This is first string and this is the second'

In [ ]:
# String templating

In [160]:
template = '{0:.2f} {1:s} are worth US${2:d}'

In [161]:
template.format(4.556, 'Argentine', 1)

'4.56 Argentine are worth US$1'

In [162]:
# chapter 8 is devoted to string manipulation

In [ ]:
# chapter 2 discusses how to convert bytes to unicode

In [163]:
# Booleans

In [164]:
True and True

True

In [166]:
# it doesn't seem there is any shorthand for true and false like in R

In [167]:
# CLASS CONVERSION

In [168]:
s = '3.14'

In [169]:
float(s)

3.14

In [171]:
int('10')

10

In [172]:
bool(3)

True

In [173]:
bool(1)

True

In [174]:
bool(0)

False

In [175]:
# for bool every non 0 number is converted to True ptherwise False

In [176]:
# can also use is to check class

In [180]:
a = '10';
b = 10;
c = True

In [181]:
a is str

False

In [182]:
b is int

False

In [183]:
# not sure why its not working

In [184]:
# the None class is like R's NULL. None is a popular default for functions

In [185]:
# DATES and TIMES
# skipping for now because I am not dealing with dates

In [186]:
# CONTROL FLOW

In [188]:
x = -2;

if x < 0:
    print('It is negative')

It is negative

In [ ]:
# in place of R's elseif there is elif

In [192]:
x = 72;
if x < 0:
    print('X is negative')
elif x ==0:
    print('X = 0')
elif 0 < x < 5:
    print('X is between 0 and 5')
else:
    print('larger than 5')

larger than 5

In [ ]:
# chaining commands

In [193]:
4 > 3 > 2 > 1

True

In [ ]:
# FOR LOOPS

In [194]:
seq = [1,2,None, 4, None, 5]

In [196]:
total = 0

In [197]:
for i in seq:
    if i is None:
        continue
    total += i

In [198]:
total

12

In [199]:
# continue was telling it to move on to the next one

In [200]:
# you can also tell it to break the for loop

In [201]:
seq = [1,2,0,4,6,5,2,1]

In [216]:
total_until_5 = 0

In [217]:
for i in seq:
    if i == 5:
        break
    total_until_5 += i

In [218]:
total_until_5

13

In [206]:
# the += means keep adding to the existing value

In [219]:
# try the same thing with -= or *=

In [ ]:
# double for loops

In [220]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i,j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [221]:
# while loop executes until the condition is met

In [222]:
x = 256

In [223]:
total = 0

In [224]:
while x > 0:
    if total > 500:
        break
    total += x
    x = x // 2

In [225]:
x

4

In [226]:
# if you want python to do nothing than you use pass

In [230]:
x = 0;
if x < 0:
    print('negative')
elif x==0:
    pass
else:
    print('positive')

In [231]:
# range

In [232]:
range(10)

range(0, 10)

In [233]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [234]:
range(0,10)

range(0, 10)

In [235]:
# you can specify start point end point and by

In [241]:
list( range(0,10)     )

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [237]:
list( range(0,10,2))

[0, 2, 4, 6, 8]

In [239]:
list (range(10,0,-2))

[10, 8, 6, 4, 2]

In [242]:
# it doesn't include the last number so its up to but not inclusing the second value

In [243]:
seq = [1,2,3,4]

In [244]:
for i in range(len(seq)):
    val = seq[i]

In [245]:
val

4

In [246]:
len(seq)

4

In [247]:
# len is like R's length

In [248]:
L = [1,2,3,'A']

In [249]:
len(L)

4

In [250]:
seq[2]

3

In [251]:
# you can access list elements with []

In [252]:
# there is a short hanf for simple if else statements

In [253]:
x = 5

In [254]:
'non negative' if x >= 0 else 'negative'

'non negative'

In [255]:
2 if x >= 0 else 'negative'

2