In [1]:
# DATA STRUCTURES

In [2]:
tup = 1,2,3

In [3]:
tup

(1, 2, 3)

In [4]:
type(tup)

tuple

In [5]:
# creating tuple of tuples

In [6]:
double_tup = (1,2,3), (4,5)

In [7]:
double_tup

((1, 2, 3), (4, 5))

In [8]:
# you can convert to a tuple with tuple()

In [9]:
tuple([1,2,3])

(1, 2, 3)

In [10]:
tuple('string')

('s', 't', 'r', 'i', 'n', 'g')

In [11]:
tup[1]

2

In [12]:
tup = tuple(['foo',[1,2],True])

In [13]:
tup[1].append(3)

In [14]:
tup

('foo', [1, 2, 3], True)

In [15]:
# you can add tuples with +

In [16]:
(4,None, 'foo') + (6,0) + ('A','B')

(4, None, 'foo', 6, 0, 'A', 'B')

In [17]:
# replication is done with multplication

In [18]:
tup*2

('foo', [1, 2, 3], True, 'foo', [1, 2, 3], True)

In [19]:
# once you have a tuple you can assign the elements seperately

In [20]:
tup = 4,5, (6,7)

In [21]:
a, b, (c,d) = tup

In [22]:
a

4

In [23]:
# in general you can assign multiple at a time

In [24]:
a,b = 1,2

In [25]:
b

2

In [26]:
type(b)

int

In [27]:
# unpacking is useful in sequences

In [28]:
# see example in ch3

In [29]:
# another common use to output multiple values from a function

In [30]:
# there are recent methods to pluck a few unwanted elements

In [31]:
values = 1,2,3,4,5

In [32]:
a,b, *rest = values

In [33]:
a,b

(1, 2)

In [34]:
# alternatively

In [35]:
a,b, *_ = values

In [36]:
values

(1, 2, 3, 4, 5)

In [37]:
a,b

(1, 2)

In [38]:
a = (1,2,2,2,3,4,2)

In [39]:
a.count(2)

4

In [40]:
# .count counts a specific element

In [41]:
# LISTS

In [1]:
# objects can be converted to a list using the list function

In [2]:
tup = 'foo','bar', 'baz'

In [3]:
type(tup)

tuple

In [4]:
list(tup)

['foo', 'bar', 'baz']

In [5]:
# lists are often used to materialize and object

In [29]:
L = [1,2,'foo',1]

In [7]:
L.append(3)

In [8]:
L

[1, 2, 'foo', 3]

In [9]:
# insert allows you to specify a specific location

In [17]:
L.insert(0,888)

In [18]:
L

[888, 1, 888, 2, 'foo']

In [19]:
# insert is more computationally expensive than append

In [20]:
# to remove a specific position

In [22]:
L.pop(1)

2

In [23]:
L

[1, 'foo']

In [25]:
L

[1, 2, 'foo']

In [28]:
# not sure how to remove multiple positions at once

In [30]:
L.remove(1)

In [31]:
L

[2, 'foo', 1]

In [32]:
# remove only takes out the first instance not all of them

In [33]:
# you can check if a value is contained within the list

In [34]:
2 in L

True

In [35]:
3454646 in L

False

In [36]:
# however it is slower so it is not the reccomended method

In [37]:
# similar to tuples lists can be replicated with multiplication or added with +

In [38]:
# adding multiple lists

In [39]:
L = [1,'A']

In [40]:
L.extend([6,2,'Dog'])

In [41]:
L

[1, 'A', 6, 2, 'Dog']

In [42]:
# can you put a list in a list??

In [43]:
L1 = [1,2,3]

In [44]:
L2 = ['A',2,L1]

In [45]:
L2

['A', 2, [1, 2, 3]]

In [46]:
# extend is usually faster than +

In [47]:
L3 = [4,5,6]

In [48]:
L1.extend(L3)

In [49]:
L1

[1, 2, 3, 4, 5, 6]

In [50]:
# sorting

In [51]:
a = [7,2,5,1,3]

In [52]:
a.sort()

In [53]:
a

[1, 2, 3, 5, 7]

In [54]:
# can a tuple be sorted????

In [55]:
b = 3,5,2,6,2

In [56]:
b.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [57]:
# nope it doesn't seem like it could be sorted

In [58]:
# you can sort by a specific input

In [60]:
s = ['saw', 'small','He','asfsdgfdgd']

In [61]:
s.sort(key=len)

In [62]:
s

['He', 'saw', 'small', 'asfsdgfdgd']

In [70]:
import bisect

In [68]:
# BINARY SEARCH

In [69]:
# you can input new elements at specific locations

In [65]:
c = [1,2,2,2,3,4,7]

In [66]:
# inputing 6 at the right sorted location

In [71]:
bisect.insort(c,6)

In [72]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [73]:
# indicate the right location for the new number for it to remain sorted

In [75]:
bisect.bisect(c,2)

4

In [76]:
# slicing

In [77]:
L = [7,2,3,7,5,6,0,1]

In [78]:
L[1:5]

[2, 3, 7, 5]

In [79]:
# this is similar to R

In [80]:
L[2:4] = 23545,2343,55

In [81]:
L

[7, 2, 23545, 2343, 55, 5, 6, 0, 1]

In [83]:
L[:2]

[7, 2]

In [84]:
# that was up to but not including 3rd element

In [90]:
L[:-2]

[7, 2, 23545, 2343, 55, 5, 6]

In [86]:
# this is going from right to left

In [87]:
L[2:]

[23545, 2343, 55, 5, 6, 0, 1]

In [88]:
# this is including the 3rd element. There is a little confusion that takes time to get used to

In [91]:
L[-2:]

[0, 1]

In [92]:
# Functions

In [93]:
enumerate(L)

In [94]:
# not sure what this does it could be important

In [95]:
# for i, value in enumerate(collection) - returns tuples

In [96]:
seq = ['foo','bar','baz']

In [97]:
mapping = {}

In [98]:
for i, v in enumerate(seq):
    mapping[v] = i

In [99]:
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [100]:
# go back to this later to better understand

In [101]:
# can also sort using sorted function

In [102]:
sorted([7,3,5,8,2,5,3,6])

[2, 3, 3, 5, 5, 6, 7, 8]

In [103]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [104]:
# ZIP

In [105]:
# zip matches the elements of different lists to create a list of sublists

In [106]:
L1 = ['A','B','C']

In [107]:
L2 = [1,2,3]

In [108]:
zipped = zip(L1,L2)

In [109]:
zipped

In [110]:
# it still needs to be converted to a list

In [111]:
list(zipped)

[('A', 1), ('B', 2), ('C', 3)]

In [112]:
L3 = [False,True]

In [113]:
zipped = zip(L1,L2,L3)

In [114]:
list(zipped)

[('A', 1, False), ('B', 2, True)]

In [115]:
# takes on the size of the smallest of the inputed lists

In [116]:
# some more complicated applications of zip are discussed in chapter 3. I am skipping them for now to cover ground

In [117]:
seq = [1,2,3]

In [118]:
reversed(seq)

In [119]:
list(reversed(seq))

[3, 2, 1]

In [120]:
# allows you to reverse a list

In [122]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [123]:
# DICT

In [124]:
# it is a collection of key value pairs

In [125]:
D = {}

In [128]:
d1 = {'a': 'some value', 'b': [1,2,3,4]}

In [131]:
d1[7] = 'an integer'

In [132]:
d1[7]

'an integer'

In [133]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [134]:
d1['b']

[1, 2, 3, 4]

In [135]:
# first we assigned 7 to the text than we accessed the values associated with 'b'

In [136]:
# check if it contains a key

In [137]:
'b' in d1

True

In [138]:
d1[5] = 'some value'

In [139]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [140]:
d1['dummy'] = 'another value'

In [141]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [142]:
del d1[5]

In [143]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [144]:
# the delete function allows you to delete a key pairing

In [145]:
# does it also work for lists?

In [146]:
L = [1,2,3]

In [147]:
del L[2]

In [148]:
L

[1, 2]

In [149]:
# yes it does

In [150]:
# you can also use the pop function

In [151]:
ret = d1.pop('dummy')

In [152]:
ret

'another value'

In [153]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [154]:
# here the pop function worked on the original the ret gives you the relevant value

In [155]:
# you can convert them to a list

In [156]:
list(d1.keys())

['a', 'b', 7]

In [163]:
list(d1.values())

['some value', 'foo', 'an integer', 12]

In [158]:
# merging dicts

In [159]:
# you can use the update function to merge dict

In [160]:
d1.update({'b':'foo','c':12})

In [161]:
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [162]:
# if the key was already there it will alter it instead of adding it

In [164]:
# creating dicts from sequences

seq1 = [1,2,3]

In [165]:
seq1 = [1,2,3]

In [166]:
seq1

[1, 2, 3]

In [167]:
seq2 = ['A','B','C']

In [169]:
dict(zip(seq,seq2))

{1: 'A', 2: 'B', 3: 'C'}

In [170]:
# dict can't take in 2 sequences alone but can if you zip them

In [1]:
# using dicts in if statements

In [ ]:
words = ['apple','bat','bar','atom','book']

In [2]:
by_letter = {}

In [5]:
for i in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

NameError: name 'words' is not defined

In [6]:
# the keys have to be unique and immutable ex (string or tuples)

In [7]:
# SKIPPED THE REST OF TUPLES BECAUSE I HAD ENOUGH FOR NOW. WILL GO BACK

In [8]:
# SETS

In [9]:
# a set is a collection of unordered unique values

In [10]:
a = set([2,2,3,4,5,5,3,3])

In [11]:
a

{2, 3, 4, 5}

In [12]:
# see how it only takes the unique values of a list

In [13]:
# sets are useful for set operations

In [14]:
a = {1,2,3,4,5};
b = {3,4,5,6,7,8}

In [15]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [16]:
b.union(a)

{1, 2, 3, 4, 5, 6, 7, 8}

In [17]:
# there is no difference in the order

In [18]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [19]:
b| a

{1, 2, 3, 4, 5, 6, 7, 8}

In [20]:
# two ways of intersection

In [21]:
a.intersection(b)

{3, 4, 5}

In [22]:
a & b

{3, 4, 5}

In [23]:
# see table 3-1 for a list of set operations